body {
    background-color: #333333;
    color : #FFFFFF;
    width: 700px;
    text-align: center;
    margin-right: auto;
    margin-left : auto;
}

div {
    background-color: black;
}

/* パラメータビュー */
#parameterView {
    display: inline-block;
    width: 520px;
    text-align: left;
    margin: 20px 0px 0px 0px;
    padding: 8px 0px 10px 20px;
    border: 3px solid;
    border-color: white;
    border-radius: 6px;
}

/* 敵画像ビュー */
#enemyImageView {
    display: inline-block;
    width: 400px;
    height: 240px;
    margin: 5px 0px 5px 0px;
}

/* コマンドビュー */
#commandView {
    display: inline-block;
    width: 108px;
    height: 150px;
    text-align: left;
    vertical-align: top;
    margin: 0px 0px 20px 0px;
    padding: 10px 20px 10px 10px;
    border: 3px solid;
    border-color: white;
    border-radius: 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* メッセージビュー */
#messageView {
    display: inline-block;
    width: 370px;
    height: 150px;
    text-align: left;
    vertical-align: top;
    margin: 0px 0px 20px 4px;
    padding: 10px 0px 10px 20px;
    border: 3px solid;
    border-color: white;
    border-radius: 6px;
}

